<div class="devices-scanner-page">
  <md-tab-group>
    <md-tab *ngFor="let hub of (managingHubs$ | async)">
      <ng-template md-tab-label>
        {{hub.name}}
      </ng-template>

      <md-list>
        <md-list-item *ngFor="let device of hub.connectedDevices" layout="row">
          <a (click)="deviceControlClickHandler($event)" [routerLink]="['/device-control']" color="accent">
            {{device.name}}
          </a>
          <a (click)="deviceOptionsClickHandler($event)" [routerLink]="['/device-options']" color="accent">
            <md-icon class="nav-item__icon" color="primary">settings</md-icon>
          </a>
          <a (click)="disconnectDeviceClickHandler($event)" color="accent">
            <md-icon class="nav-item__icon" color="primary">clear</md-icon>
          </a>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tab-group>

  <button class="primary-action-button"
          md-fab
          color="primary"
          (click)="scanDevicesClickHandler($event)"
          >
    <md-icon color="secondary">bluetooth_searching</md-icon>
  </button>
</div>
