@import '~@angular/material/theming';

@include mat-core();

$persistent-iot-indigo-pink-primary: mat-palette($mat-indigo);
$persistent-iot-indigo-pink-accent:  mat-palette($mat-pink);
$persistent-iot-indigo-pink-warn:    mat-palette($mat-red);

$persistent-iot-indigo-pink-theme: mat-light-theme(
  $persistent-iot-indigo-pink-primary,
  $persistent-iot-indigo-pink-accent,
  $persistent-iot-indigo-pink-warn
);

@include angular-material-theme($persistent-iot-indigo-pink-theme);
